{
  "all": false,
  "cache": false,
  "check-coverage": false,
  "exclude": [
    "tests/**/*.spec.js",
    "bin/*.js",
    "app.js",
    "controllers/*.js",
    "routes"
  ],
  "watermarks": {
    "branch": [60, 90],
    "statement": [60, 90],
    "function": [60, 90],
    "line": [60, 90]
  }  
}