{
  "require": [
    "babel-register",
    "babel-polyfill"
  ],
  "exclude": ["tests/**/*.spec.js"],
  "watermarks": {
    "lines": [80, 90],
    "functions": [80, 90],
    "branches": [80, 90],
    "statements": [80, 90]
  }
}